{% extends 'vulcanrepo.base:templates/repo_master.html' %}

{% do g.resource_manager.register_css('visualize/vf_visualizer_embedder.scss') %}

{% block title %}
{{c.project.name}} / {{c.app.config.options.mount_label}} / Diff of {{h.really_unicode(target.path)}}
{% endblock %}

{% block header %}Diff of
<a href="{{target.url()}}">{{target.path}}</a>
{% if original %}
<a href="{{original.url()}}">{{original.commit.shorthand_id()}}</a>
..
<a href="{{target.url()}}">{{target.commit.shorthand_id()}}</a>
{% endif %}
{% endblock %}

{% block content %}
{{ clone_info(c.app.repo) }}
<div class="grid-19" style="margin-bottom: 10px;">
    {{ diff_content }}
</div>
{% endblock %}

{% block extra_css %}
<style type="text/css">
    .clip h3 {margin-bottom: 0;}
</style>
{% endblock %}
